@model BERKA.Share.ViewModels.InspectorViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Editar Inspector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-warning">✏️ Editar Inspector</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

<form asp-controller="Inspector" asp-action="EditarInspector" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="ID_Inspector" type="hidden" />

    <div class="mb-3">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control" type="email" />
    </div>
    <div class="mb-3">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" type="tel" />
    </div>
    <div class="mb-3">
        <label asp-for="Estacion"></label>
        <input asp-for="Estacion" class="form-control" type="number" />
    </div>
    <div class="mb-3">
        <label asp-for="Contraseña"></label>
        <input asp-for="Contraseña" class="form-control" type="password" />
    </div>
    <div class="mb-3">
        <label asp-for="Estado"></label>
        <input asp-for="Estado" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">Actualizar</button>
    <a asp-action="Index" asp-controller="Inspector" class="btn btn-secondary ms-2">Cancelar</a>
</form>
